@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#DAE1E9];
    }
}
.active {
    @apply bg-[#4E0F08] text-[#FFFFFF];
}

.nonactive {
    @apply text-[rgba(148,153,174,0.4)];
}

/* Menyembunyikan scrollbar pada Webkit (Chrome, Safari) */
.scroll-invisible::-webkit-scrollbar {
    display: none; /* Sembunyikan scrollbar */
}

/* Menyembunyikan scrollbar pada Firefox */
.scroll-invisible {
    scrollbar-width: none; /* Sembunyikan scrollbar */
}

/* .active {
    @apply bg-[#4E0F08] text-[#FFFFFF];
} */

/* Tambahkan ini di file CSS Anda atau dalam tag <style> */
#audio-seek-bar,
#video-seek-bar {
    -webkit-appearance: none; /* Menghilangkan gaya default pada browser berbasis Webkit */
    appearance: none; /* Menghilangkan gaya default */
    width: 100%; /* Atur lebar slider */
    height: 6px; /* Tinggi track slider */
    background: rgba(110, 142, 41, 0.2); /* Ganti warna latar belakang */
    border-radius: 20px; /* Sudut yang melengkung */
}

/* Gaya untuk thumb slider */
#audio-seek-bar::-webkit-slider-thumb,
#video-seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none; /* Menghilangkan gaya default pada browser berbasis Webkit */
    appearance: none; /* Menghilangkan gaya default */
    width: 12px; /* Lebar thumb */
    height: 12px; /* Tinggi thumb */
    border-radius: 50%; /* Bentuk bulat */
    background: white; /* Ganti warna thumb */
    cursor: pointer; /* Pointer saat hover */
    border: 1.5px solid #6e8e29;
}

#audio-seek-bar::-moz-range-thumb,
#video-seek-bar::-moz-range-thumb {
    width: 12px; /* Lebar thumb */
    height: 12px; /* Tinggi thumb */
    border-radius: 50%; /* Bentuk bulat */
    background: white; /* Ganti warna thumb */
    cursor: pointer; /* Pointer saat hover */
}

#audio-seek-bar::-ms-thumb,
#video-seek-bar::-ms-thumb {
    width: 12px; /* Lebar thumb */
    height: 12px; /* Tinggi thumb */
    border-radius: 50%; /* Bentuk bulat */
    background: white; /* Ganti warna thumb */
    cursor: pointer; /* Pointer saat hover */
}
